# En Supabase: Connect > Project URL y Publishable key
# Crear una copia de este archivo con el nombre .env
EXPO_PUBLIC_SUPABASE_URL=https://TU_PROYECTO.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=TU_CLAVE_PUBLICA
